extends ./_layout

block body
	//- div( ui-view )
	-if (locals.base)
		include pages/base-petition
	-else 
		include pages/bootstrap-petition

block styles
	link( href="style.css" rel="stylesheet" )

block scripts   
	script(src="app.js")